In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly
from plotly.offline import iplot, init_notebook_mode
import cufflinks

cufflinks.go_offline(connected=True)
init_notebook_mode(connected=True)

# Loading data.
data = pd.read_csv(r"C:\Users\vaibh\Desktop\Python DS\Sprint 2_Matplotlib Data Visualization\netflix_titles.csv.txt")

Netflix_Data.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

In [27]:
# new data frame with split value columns 
new_dir = data["director"].str.split(", ", n=2, expand = True)
new_dir

                     0           1     2
0         Richard Finn  Tim Maltby  None
1                  NaN         NaN   NaN
2                  NaN         NaN   NaN
3                  NaN         NaN   NaN
4     Fernando Lebrija        None  None
...                ...         ...   ...
6229               NaN         NaN   NaN
6230               NaN         NaN   NaN
6231               NaN         NaN   NaN
6232               NaN         NaN   NaN
6233               NaN         NaN   NaN

[6234 rows x 3 columns]

In [28]:
# making separate columns for cast member names from new data frame 
data["dir_1"]= new_dir[0] 
data["dir_2"]= new_dir[1]

In [29]:
new_cast = data["cast"].str.split(", ", n=4, expand = True)
new_cast

,0,1,2,3,4
0,Alan Marriott,Andrew Toth,Brian Dobson,Cole Howard,"Jennifer Cameron, Jonathan Holmes, Lee Tockar,..."
1,Jandino Asporaat,None,None,None,None
2,Peter Cullen,Sumalee Montano,Frank Welker,Jeffrey Combs,"Kevin Michael Richardson, Tania Gunadi, Josh K..."
3,Will Friedle,Darren Criss,Constance Zimmer,Khary Payton,"Mitchell Whitfield, Stuart Allan, Ted McGinley..."
4,Nesta Cooper,Kate Walsh,John Michael Higgins,Keith Powers,"Alicia Sanz, Jake Borelli, Kid Ink, Yousef Era..."
...,...,...,...,...,...
6229,Burnie Burns,Jason Saldaña,Gustavo Sorola,Geoff Lazer Ramsey,"Joel Heyman, Matt Hullum, Dan Godwin, Kathleen..."
6230,Marc Maron,Judd Hirsch,Josh Brener,Nora Zehetner,Andy Kindler
6231,NaN,NaN,NaN,NaN,NaN
6232,Daniel Radcliffe,Jon Hamm,Adam Godley,Christopher Godwin,"Rosie Cavaliero, Vicki Pepperdine, Margaret Cl..."
6233,Jennifer Aniston,Courteney Cox,Lisa Kudrow,Matt LeBlanc,"Matthew Perry, David Schwimmer"

In [30]:
# making separate columns for cast member names from new data frame 
data["cast_1"]= new_cast[0] 
data["cast_2"]= new_cast[1] 
data["cast_3"]= new_cast[2]
data["cast_4"]= new_cast[3]
data

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,dir_1,dir_2,cast_1,cast_2,cast_3,cast_4
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...,Richard Finn,Tim Maltby,Alan Marriott,Andrew Toth,Brian Dobson,Cole Howard
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...,NaN,NaN,Jandino Asporaat,None,None,None
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob...",NaN,NaN,Peter Cullen,Sumalee Montano,Frank Welker,Jeffrey Combs
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...,NaN,NaN,Will Friedle,Darren Criss,Constance Zimmer,Khary Payton
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...,Fernando Lebrija,None,Nesta Cooper,Kate Walsh,John Michael Higgins,Keith Powers
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6229,80000063,TV Show,Red vs. Blue,NaN,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,NaN,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil...",NaN,NaN,Burnie Burns,Jason Saldaña,Gustavo Sorola,Geoff Lazer Ramsey
6230,70286564,TV Show,Maron,NaN,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,NaN,2016,TV-MA,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews...",NaN,NaN,Marc Maron,Judd Hirsch,Josh Brener,Nora Zehetner
6231,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,NaN,NaN,NaN,NaN,2016,NaN,60 min,Movies,Nursery rhymes and original music for children...,NaN,NaN,NaN,NaN,NaN,NaN
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,NaN,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,NaN,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ...",NaN,NaN,Daniel Radcliffe,Jon Hamm,Adam Godley,Christopher Godwin
6233,70153404,TV Show,Friends,NaN,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,NaN,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...,NaN,NaN,Jennifer Aniston,Courteney Cox,Lisa Kudrow,Matt LeBlanc

In [37]:
type(data['date_added'][0])

str

In [47]:
data['date_added'] = pd.to_datetime(data['date_added'])
data['year'] = data['date_added'].dt.year
data

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,dir_1,dir_2,cast_1,cast_2,cast_3,cast_4,year
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China",2019-09-09,2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...,Richard Finn,Tim Maltby,Alan Marriott,Andrew Toth,Brian Dobson,Cole Howard,2019.0
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,2016-09-09,2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...,NaN,NaN,Jandino Asporaat,None,None,None,2016.0
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,2018-09-08,2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob...",NaN,NaN,Peter Cullen,Sumalee Montano,Frank Welker,Jeffrey Combs,2018.0
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,2018-09-08,2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...,NaN,NaN,Will Friedle,Darren Criss,Constance Zimmer,Khary Payton,2018.0
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,2017-09-08,2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...,Fernando Lebrija,None,Nesta Cooper,Kate Walsh,John Michael Higgins,Keith Powers,2017.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6229,80000063,TV Show,Red vs. Blue,NaN,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,NaT,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil...",NaN,NaN,Burnie Burns,Jason Saldaña,Gustavo Sorola,Geoff Lazer Ramsey,NaN
6230,70286564,TV Show,Maron,NaN,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,NaT,2016,TV-MA,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews...",NaN,NaN,Marc Maron,Judd Hirsch,Josh Brener,Nora Zehetner,NaN
6231,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,NaN,NaN,NaN,NaT,2016,NaN,60 min,Movies,Nursery rhymes and original music for children...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,NaN,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,NaT,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ...",NaN,NaN,Daniel Radcliffe,Jon Hamm,Adam Godley,Christopher Godwin,NaN
6233,70153404,TV Show,Friends,NaN,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,NaT,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...,NaN,NaN,Jennifer Aniston,Courteney Cox,Lisa Kudrow,Matt LeBlanc,NaN